/* =============================================================================
 * Screen reader only text
 * ========================================================================== */

.screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}